<!DOCTYPE html>
<html>

<head>
  <title>Feed</title>
  <meta charset="utf-8">
  <style type="text/css">
    .background {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    .segment {
      background-color: #fff;
      padding: 1rem;
      position: relative;
      margin: 0 0 1rem 25%;
      border-radius: 4px;
      border: 1px solid #ddd;
      width: 44.5rem;
      margin-bottom: 1rem;
    }

    .title {
      margin: 0 0 0 25%;
      font-size: 1.5rem;
    }

    .feed-item {
      display: block;
      justify-content: space-between;
    }

    .feed-row {
      display: flex;
      width: 100%;
      color: #222222;
      min-height: 60px;
    }

    hr {
      width: 46.5rem;
      margin: 0 0 0.75rem 25%
    }

    .row-content {
      margin-left: 40px;
      margin: 0 .75rem 0 0;
      width: inherit;
    }

    a {
      font-weight: bold;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      color: #222222 !important;

    }

    a:hover {
      cursor: pointer;
    }

    .buttonLink {
      color: rgb(255, 255, 255) !important;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
    }

    button {
      color: #fff;
      background: #eb2f96;
      border-color: #eb2f96;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
      line-height: 1.5715;
      position: relative;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
      text-align: center;
      border: 1px solid transparent;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
      cursor: pointer;
      touch-action: manipulation;
      height: 32px;
      padding: 4px 15px;
      font-size: 14px;
      border-radius: 2px;
      color: rgba(0, 0, 0, 0.85);
      margin: 0 0 10px 25%;
    }


    .image {
      width: 36px;
      height: 36px;
      min-width: 36px;
      min-height: 36px;
      border-radius: 50%;
    }

    .text-activity {
      display: inline-flex;
    }

    .activity-item {
      margin-left: 0.35rem;
    }

    .space {
      font-size: 0.875rem;
      color: #888 !important;
      font-weight: normal;
    }

    .post-body {
      width: 44.4rem;
      font-size: 1rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    .post {
      font-size: 1.5rem;
      color: #222222 !important;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    .date-and-space {
      width: 100%;
      font-size: 0.875rem;
      color: #888;
    }
  </style>
</head>

<body>
  <div class='background'>
    <p class="title">My feed</p>
    <hr>
    {{#each data}}
    <div class="segment">
      <div class='feed-item'>
        <div class="feed-row">
          {{#notEq avatar ''}}
          <img src="{{avatar}}" class='image' />
          {{/notEq}}
          <div class="row-content">
            <div class='text-activity'>
              <a href="{{ownerLink}}">{{ownerName}}</a>
            </div>

            <div class='date-and-space'>
              <a class="space" href="{{spaceLink}}">{{spaceName}}</a> • {{date}}
            </div>

          </div>
        </div>
        <div class="feed-content">
          <div>
            <a class="post" href="{{postLink}}">{{postName}}</a>
          </div>
          <div>
            <p class="post-body">{{postBody}}</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    <button>
      <a href="{{appsUrl}}" class='buttonLink'>See more on the website</a>
    </button>
  </div>
</body>
<html>