<!DOCTYPE html>
<html>

<head>
  <title>Feed</title>
  <meta charset="utf-8"> 
  <style type="text/css">
    h3 {
      margin: 0;
      margin-bottom: .5rem;
    }

    .top {
      vertical-align: top;
    }

    .avatar {
      border-radius: 50%;
    }

    .author {
      font-weight: bold;
      color: #2d2d2d;
    }

    .details {
      color: #888;
    }

    .main {
      width: 712px;
      margin-left: auto;
      margin-right: auto;
    }

    .feed-item {
      width: 100%;
      background-color: #fff;
      padding: 1rem;
      border-radius: 4px;
      border: 1px solid #ddd;
      margin-bottom: 1rem;
    }

    .feed-image {
      width: 160px;
      height: 160px;
      border-radius: 2px;
    }
    
    .pageTitle {
      color: #888;
      font-size: 22px;
      font-weight: 300;
      margin-bottom: .5rem;
      padding: .25rem;
      border-bottom: 1px solid #ddd;
    }

    .text {
      color: #2d2d2d;
      text-decoration: none;
    }

    .buttonLink {
      color: #fff !important;
      background: #eb2f96;
      border-color: #eb2f96;
      font-weight: 400;
      white-space: nowrap;
      text-align: center;
      border: 1px solid transparent;
      touch-action: manipulation;
      height: 32px;
      padding: 4px 15px;
      font-size: 14px;
      border-radius: 2px;
      margin-bottom: 10px;
      cursor: pointer;
      text-decoration: none;
    }

    .center {
      text-align: center;
    }
  </style>
</head>

<body>
  <table class="main">
    <tr>
      <td>
        <h3 class="pageTitle">{{title}}</h3>
      </td>
    </tr>
    {{#each data}}
    <tr>
      <td>
        <a class="text" href="{{postLink}}">
          <table class="feed-item">
            <tr>
              <td>
                <table>
                  <tr>
                    <td class="top">
                      <table>
                        {{#if avatar}}
                          <td>
                            <img width="36" height="36" class="avatar" src="{{avatar}}" >
                          </td>
                        {{/if}}
                        <td>
                          <div class="author">{{ownerName}}</div>
                          <div class="details">
                            <span>{{ spaceName }}</span>
                            <span> • </span>
                            <span>{{ date }}</span>
                          </div>
                        </td>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h3 class="text">{{ postName }}</h3>
                      <div class="text">{{ postSummary }}</div>
                    </td>
                  </tr>
                </table>
              </td>
              {{#if image}}
                <td class="top feed-image">
                  <img class="feed-image" src="{{ image }}" >
                </td>
              {{/if}}
            </tr>
          </table>
        </a>
      </td>
    </tr>
    {{/each}}
    <tr class="center">
      <a href="{{appsUrl}}" class='buttonLink'>See more on the website</a>
    </tr>
  </table>
</body>
<html>