
{{#each data}}
<tr>
  <td>
    <a class="link" href="{{ relatedEntityUrl }}">
      <table class="notif-item">
        <tr>
          <td class="top">
            <table>
              {{#if avatar}}
                <td>
                  <img width="36" height="36" class="avatar" src="{{avatar}}" >
                </td>
              {{/if}}
              <td>
                <div class="author">
                  <span>{{performerAccountName}}</span>
                  <span>{{message}}</span>
                  <span>{{relatedEntityName}}</span>
                </div>
                <div class="details">{{ date }}</div>
              </td>
            </table>
          </td>
          {{#if image}}
            <td class="top notif-image">
              <img class="notif-image" src="{{image}}" >
            </td>
          {{/if}}
        </tr>
      </table>
    </a>
  </td>
</tr>
{{/each}}