<!DOCTYPE html>
<html>

<head>
  <title>Notifications</title>
  <meta charset="utf-8">
    <style>
    {{> css }}
  </style>
</head>

<body>
  <table cellspacing="1" class="main center">
    <tr>
      <th class="header">
        <img src="{{data.image}}" width="80" height="80" class='image' />
        <div>Thank you for using Subsocial</div>
      </th>
    </tr>
    <tr>
      <td class="normal-text">
        <div>{{data.message}}</div>
      </td>
    </tr>
    <tr>
      <td class="normal-text">
        <a href="{{data.link}}" class='buttonLink'>{{data.buttonText}}</a>
      </td>
    </tr>
    <tr>
      <td class="normal-text">
        <div>Or follow this link:</div>
        <a href="{{data.link}}">{{data.link}}</a>
        <br />
        <br />
        <div>The link will expire in 1 hour</div>
      </td>
    </tr>
   </table>
</body>
<html>